input:focus, textarea:focus, select:focus, input.form-control:focus, textarea.form-control:focus {
  -webkit-box-shadow: 0 0 2px #c2d44e;
  -ms-transform: 0 0 2px #c2d44e;
  -o-transform: 0 0 2px #c2d44e;
  box-shadow: 0 0 2px #c2d44e;
  outline: none;
  border: 1px solid #e1e1e1; }

ul {
  padding: 0;
  margin: 0;
  list-style: disc inside none; }

.header-content {
  position: relative;
  background: #fff url(//cdn.shopify.com/s/files/1/1402/6971/t/2/assets/header_bg.png?15442943690618323598) repeat center center;
  border-bottom: 1px solid #e1e1e1;
  padding: 0;
  margin: 0; }
  .header-content .top-bar {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0; }
  .header-content .header-links li {
    padding: 0 10px;
    line-height: 1.0;
    margin: 0;
    display: inline-block; }
    .header-content .header-links li > a {
      padding: 0px;
      display: inline-block;
      line-height: 30px;
      height: 30px;
      color: #898e91; }
  .header-content .header-logo {
    display: block;
    margin: 20px 0 18px;
    text-align: center; }
  .header-content .header-other {
    margin: 33px 0 0;
    text-align: right; }
    .header-content .header-other .search-box {
      margin: 2px 45px 0 0;
      position: relative;
      display: inline-block; }
      .header-content .header-other .search-box .search-box-text {
        width: 385px;
        height: 33px;
        padding: 8px 50px 8px 10px;
        border: none;
        line-height: 18px;
        float: left;
        text-transform: none;
        -webkit-box-shadow: inset 0 0 0 #fff;
        -ms-transform: inset 0 0 0 #fff;
        -o-transform: inset 0 0 0 #fff;
        box-shadow: inset 0 0 0 #fff; }
      .header-content .header-other .search-box .search-box-button {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 3;
        width: 40px;
        height: 34px;
        padding: 0;
        margin: 0;
        border: none;
        background: #e1e1e1;
        border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0; }
        .header-content .header-other .search-box .search-box-button:before {
          content: "\f002";
          font: 16px/34px Fontawesome;
          display: block;
          width: 100%;
          height: 100%;
          text-align: center;
          color: #fff; }
        .header-content .header-other .search-box .search-box-button:hover {
          background: #c2d44e; }

.navigation .navbar .navbar-collapse .main-nav {
  position: static;
  margin: 0px;
  border-radius: 0 0px 0px 0px;
  -moz-border-radius: 0 0px 0px 0px;
  -webkit-border-radius: 0 0px 0px 0px;
  border: none;
  background: #565656;
  border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px 0px 0 0;
  -webkit-border-radius: 0px 0px 0 0; }
  .navigation .navbar .navbar-collapse .main-nav > li {
    display: inline-block;
    padding: 0 0px 0 12px;
    margin: 0;
    float: left;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 0px; }
    .navigation .navbar .navbar-collapse .main-nav > li > a {
      font-size: 14px;
      text-transform: uppercase;
      margin: 8px 0;
      display: inline-block;
      text-decoration: none;
      line-height: 26px;
      padding: 4px 9px;
      font-weight: 400;
      color: #fff; }

