@model HeaderLinksModel
@using Nop.Web.Models.Common;

<div class="header-links">
    <div class="top-bar-left col-md-4 col-sm-4 col-xs-12">
        <ul>
            <li>
                <a>Account</a>
            </li>
            <li>
                <a>Wishlist</a>
            </li>
            <li>
                <a>Checkout</a>
            </li>
        </ul>
    </div>
    <div class="top-bar-info col-md-4 col-sm-4 col-xs-12">

    </div>
    <div class="top-bar-right col-md-4 col-sm-4 col-xs-12">
        <ul>
            <li>
                <a>Logout</a>
            </li>
            <li>
                <a>USD</a>
            </li>
        </ul>
    </div>
</div>
